.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;

  position: fixed;
  z-index: 999;
  top: 0px;
  left: 0px;
  background: #21212100;
  transition: 0.3s;
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .logo_name {
    display: inline-block;
    font: normal normal normal 20px/22px logo;
    letter-spacing: 0px;
    color: #fe8a06;
    text-transform: uppercase;
    @media all and (max-width: 818px) {
      font: normal normal normal 16px/14px logo;
    }
  }

  .info_header {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;

    @media all and (max-width: 1435px) {
      width: 70%;
    }
    @media all and (max-width: 1235px) {
      display: none;
    }

    .item {
      font: normal normal normal 12px/13px Montserrat;
      letter-spacing: 0px;
      color: #d1d1d1;
      text-transform: uppercase;
      display: inline-block;
    }

    .first {
      margin-right: 150px;
    }
  }

  .btn_menu {
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    @media all and (max-width: 818px) {
      width: 27px;
    }

    span {
      display: block;
      width: 100%;
      height: 2px;
      background: #d1d1d1;
      margin-bottom: 10px;
      transition: 0.3s;

      &:nth-child(1) {
        transform: translateX(-20%);
        transition: 0.3s;
      }
      &:nth-child(3) {
        transform: translateX(-20%);
        transition: 0.6s;
      }
    }

    &:hover {
      span {
        &:nth-child(1) {
          transform: translateX(0%);
          transition: 0.3s;
        }
        &:nth-child(3) {
          transform: translateX(0%);
          transition: 0.6s;
        }
      }
    }
  }
}

.header_active {
  background: #212121;
  transition: 0.3s;
}
.header_disapear {
  transform: translateY(-100%);
  transition: 0.3s;
}

.mob {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  right: 0px;
  top: 0px;
  transform: translateX(100%);
  transition: all 0.3s ease;
  z-index: 1000;
  height: 100%;
  width: 350px;
  background: #fff;
  .struct {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 90%;

    .tool_menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .lang {
        display: flex;
        align-items: center;
        justify-content: left;
        width: 120px;

        .item {
          display: block;
          cursor: pointer;
          font-weight: 600;
          font-size: 14px;
          line-height: 14px;
          text-align: left;
          color: #969696;
          margin-right: 20px;
        }

        .active {
          color: #212121;
        }
      }

      .close_menu {
        display: block;
        font-size: 25px;
        cursor: pointer;
      }
    }

    .menu_footer {
      display: block;
      width: 100%;

      .social_menu {
        display: flex;
        justify-content: left;
        align-items: center;

        a {
          display: block;
          margin-right: 18px;
          color: #969696;
          font-size: 20px;
          transition: 0.3s ease;
          cursor: pointer;
          &:hover{
            color: #212121;
            transition: 0.3s ease;
          }
        }
      }

      .menu_signature {
        display: block;
        text-align: left;
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        text-align: left;
        color: #999;
        margin-top: 25px;
      }
    }
    

    .menu_container {
      display: block;
      width: 100%;
      margin-top: 30px;
      margin-bottom:30px;
      .item {
        display: block;
        font-family: Poppins;
        font-weight: 600;
        font-size: 24px;
        line-height: 24px;
        text-align: left;
        color:#212121;
        margin-bottom: 45px;
        cursor: pointer;

        @media all and (max-width:600px){
          font-size: 18px;
          margin-bottom: 30px;
          width: 80%;
        }

        .point {
          display: none;
          font-size: 30px;
        }
      }

      .active{
        color: #fe8a06;
        .point {
          display: inline-block;
        }
      }

    }
  }
}

.mob_active{
  transform: translateX(0%);
  transition: all 0.3s ease;
}